* {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

body {
    background-color: #eaeaea;
    margin: 0;
}

.main {
    display: flex;
    margin-top: 100px;
    height: 75vh;
    min-height: 600px;
    justify-content: center;
}

#calculator {
    background-color: #837b7b;
    border: solid black 2px;
    border-radius: 32px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 400px;
    height: 600px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#display {
    flex: auto;
    background-color: #eaeaea;
    border-radius: 16px;
    border: solid black 2px;
    padding: 10px;
}

#display>* {
    text-align: right;
    overflow-wrap: break-word;
}

#display-history {
    min-height: 32px;
}

#display-current {
    min-height: 64px;
    font-size: 40px;
}

#controls {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.grid-col-2-span {
    grid-column: span 2;
}

button {
    height: 75px;
    padding: 10px;
    border-radius: 12px;
    border: 2px solid black;
}

button:hover {
    background-color: #ddd;
}

button:active {
    background-color: #ccc;
}

.red-background {
    background-color: rgb(250, 170, 170);
}

.red-background:hover {
    background-color: #e99;
}

.red-background:active {
    background-color: #d88;
}

.blue-background {
    background-color: rgb(170, 170, 255);
}

.blue-background:hover {
    background-color: #99e;
}

.blue-background:active {
    background-color: #88d;
}

img {
    width: 17px;
    height: 17px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px 0px;
}