* {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #eaeaea;
}

#calculator {
    background-color: #837b7b;
    border: solid black 2px;
    border-radius: 32px;
    flex-shrink: 1;
    flex-basis: 400px;
    height: 600px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#display {
    flex: auto;
    background-color: #eaeaea;
    border-radius: 16px;
    border: solid black 2px;
}

#controls {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.row {}

button {
    height: 75px;
    padding: 10px;
    border-radius: 12px;
    border: 2px solid black;
}

.equals {
    grid-column: span 2;
}

.red-background {
    background-color: rgb(250, 170, 170);
}

.blue-background {
    background-color: rgb(170, 170, 255);
}